{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="assets/css/security.css">
{% endblock %}
{% block body %}
<div class="d-flex justify-content-center form-signin">
  <form method="post">
      {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
          <div class="mb-3">
              You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
          </div>
      {% endif %}
      
      <div class="signin-title text-center">
        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
      </div>
      <div class="form-floating">
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputEmail">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        <label for="inputPassword">Mot de passe</label>
      </div>
      <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
      >
      <div class="mb3 row login-footer">
        <div class="form-check form-switch col-sm remember-div">
          <input type="checkbox" name="_remember_me" class="form-check-input">
          <label class="checkbox-switch form-check-label" for="_remember_me">
                Remember me
          </label>
        </div>
        <div class="col-sm">
          <a href="#" class="float-right psw-forgot">Mot de passe oublié ?</a>
        </div>
        
      </div>
      <div class="row text-center">
          <a href="{{ path('app_register') }}">Pas encore de compte ? Créez-en un !</a>
        </div>
      <button class="w-100 btn btn-lg btn-primary register-button mx-auto" type="submit">
          Connecter
      </button>
  </form>
</div>
{% endblock %}
