{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="/assets/css/security.css">
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
      <div class="text-center signin-title">
        <h1 class="h3 mb-3 fw-normal">Créez votre compte</h1>
      </div>
      <div class="d-flex justify-content-center form-signin">
        {{ form_start(registrationForm) }}
          {{ form_row(registrationForm.username) }}
          {{ form_row(registrationForm.firstname) }}
          {{ form_row(registrationForm.lastname) }}
          {{ form_row(registrationForm.email) }}
          {{ form_row(registrationForm.plainPassword) }}
          <div class="agreeterms">
            {{ form_row(registrationForm.agreeTerms) }}
          </div>
          <button class="w-100 btn btn-lg btn-primary register-button" type="submit">Créer mon compte</button>
        {{ form_end(registrationForm) }}
      </div>
    </div>
{% endblock %}
