
{{ form_start(form) }}
    <div class="row">
        {{ form_row(form.name) }}
        {{ form_row(form.slug) }}
    </div>
    <div class="row">
        {{ form_row(form.description) }}
    </div>
    <div class="row">
        {{ form_row(form.category) }}
        {{ form_row(form.media) }}
    </div>
    {# <button class="btn">{{ button_label|default('Sauvegarder') }}</button> #}
    <div class="text-center">
        <button class="w-50 btn btn-lg btn-primary" type="submit">Sauvegarder</button>
    </div>
{{ form_end(form) }}
