<div class="row">
    <div class="col-md-12">
        <h3 class="text-center mb-5">Espace de discussion</h3>
        
        <div class="row">
            {% for comment in comments %}
                <div class="col-md-12">
                    <div class="media col-md-12"> 
                        <img class="mr-3 rounded-circle col-md-3" alt="{{ comment.user.getFirstname() }}" src="/assets/img/boy.png" />
                        <div class="media-body col-md-9">
                            <div class="row">
                                <div class="col-8 d-flex">
                                    <h5>{{ comment.user.getFirstname() }}</h5> &nbsp; <span> le {{ comment.createdAt | date("m/d/Y") }} </span>
                                </div>
                            </div> 
                            <p>{{ comment.content }} </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center">
                {% do comments.setPageRange(2) %}
                {{ knp_pagination_render(comments, 'partials/pagination.html.twig') }}
            </div>
        </div>
    </div>
</div>
{# {{ comment.user.getPhoto() }} #}