{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/assets/css/figure.css">
  <link rel="stylesheet" href="/assets/css/comment.css">
{% endblock %}

{% block body %}
<div class="container" id="figure-container">
    <div class="text-center">
        <div class="img-fluid">
            <img class="figure-hero img-fluid img-thumbnail" src="{{ asset('/uploads/' ~ figure.media|first.name)}}" alt="{{ figure.name }}">
            <h1 class="title p-1">
                {{ figure.name }}
            </h1>
        </div>
        <div class="row mt-3">
            {% for image in figure.media %}
                <img class="col-md-2 img-fluid img-thumbnail" src="{{ asset('/uploads/' ~ image.name)}}" alt="{{ figure.name }}">
            {% endfor %}
            {% for video in figure.videos %}
                <iframe 
                    class="col-md-2"
                    src="{{ video.source }}" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            {% endfor %}
        </div>
    </div>

    <p class="content text-justify mt-3 mb-3">
        {{ figure.description }}
    </p>
    <div class="row">
        <div class="col">
            <span class="badge rounded-pill bg-primary">Créé le {{ figure.createdAt | date("m/d/Y") }}</span>
        </div>
        <div class="col">
            <span class="badge rounded-pill bg-info">Groupe(s) : 
            {% for category in categories %}
                <span>{{ category.name }}</span>
                {{ loop.last ? '':', '}}
            {% endfor %}
            </span>
        </div>
        {% if figure.updatedAt %}
            <div class="col">
                <span class="badge rounded-pill bg-dark">Mis à jour le : {{ figure.updatedAt | date("m/d/Y") }}</span>
            </div>
        {% endif %}
    </div>
    <hr>
    {% if app.user %}
        <div class="col-12 justify-content-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="card">
            <h3 class="text-center mb-5"> Quelques choses à dire ? </h3>
            {{ form_start(form) }}
                {{ form_row(form.content) }}
            {{ form_end(form)}}
        </div>
    {% endif %}
    
    <div class="card">
        {{ include('figure/comment.html.twig', {comments: comments}) }}
    </div>
</div>
{% endblock %}
