{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/assets/css/figure.css">
  <link rel="stylesheet" href="/assets/css/comment.css">
{% endblock %}

{% block body %}
<script type="text/javascript">
    change = src => {
        document.getElementById('main-figure-image').src = src
    }
</script>

<div class="container" id="figure-container">
    <div class="text-center">
        <div class="img-fluid">
            <img class="figure-hero img-fluid img-thumbnail" id="main-figure-image" src="{{ asset('/uploads/' ~ figure.media|first.name)}}" alt="{{ figure.name }}">
        </div>
        {% if app.user %}
            <div class="d-flex justify-content-around edit-button">
                <a href="{{ path('figure_edit', {'id': figure.id}) }}">
                    <i class="fas fa-edit edit-icon"></i>
                    Editer cette figure
                </a>
                <form method="post" 
                    action="{{ path('figure_delete', {'id': figure.id}) }}" 
                    onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette figure?');"
                >
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                    <button class="submit-button delete-button" type="submit"><i class="fas fa-trash-alt edit-icon"></i>&nbsp;Supprimer cette figure</button>
                </form>
            </div>
        {% endif %}
        <div class="row mt-3">
            {% for image in figure.media %}
                <img 
                    class="col-md-2 img-fluid img-thumbnail figure-image"
                    onclick="change(src)" 
                    src="{{ asset('/uploads/' ~ image.name)}}" 
                    alt="{{ figure.name }}" >
            {% endfor %}
            {% for video in figure.videos %}
                <iframe 
                    class="col-md-3"
                    width="500rem"
                    src="{{ video.source }}" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            {% endfor %}
        </div>
    </div>
    <h1 class="title p-1 text-center">
        {{ figure.name }}
    </h1>
    <p class="content text-justify mt-3 mb-3">
        {{ figure.description }}
    </p>
    <div class="row">
        <div class="col">
            <span class="badge rounded-pill bg-primary">Créé le {{ figure.createdAt | date("m/d/Y") }}</span>
        </div>
        <div class="col">
            <span class="badge rounded-pill bg-info">Groupe(s) : 
            {% for category in categories %}
                <span>{{ category.name }}</span>
                {{ loop.last ? '':', '}}
            {% endfor %}
            </span>
        </div>
        {% if figure.updatedAt %}
            <div class="col">
                <span class="badge rounded-pill bg-dark">Mis à jour le : {{ figure.updatedAt | date("m/d/Y") }}</span>
            </div>
        {% endif %}
    </div>
    <hr>
    {% if app.user %}
        <div class="col-12 justify-content-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="card">
            <h3 class="text-center mb-5"> Quelques choses à dire ? </h3>
            {{ form_start(form) }}
                {{ form_row(form.content) }}
            {{ form_end(form)}}
        </div>
    {% endif %}
    
    <div class="card">
        {{ include('figure/comment.html.twig', {comments: comments}) }}
    </div>
</div>

{% endblock %}

